.todo_btn{
    padding: 12px 20px;
    background-color: #56a908;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-end;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}

.todo_btn:hover{
    background-color: #6dc21e;
}